language: node_js
node_js:
  - 12
addons:
  packages:
    - libgconf-2-4
cache:
  npm: true
  directories:
    - ~/.cache
script:
  - eslint 'src/**'
  - npm run test:coveralls
deploy:
  provider: heroku
  api_key:
    secure: "$REACT_API"
  app: fordev-react-app
  skip_cleanup: true
notifications:
  email: false